@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    margin: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B1B8D4 !important;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #B1B8D4;
  }