@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Theme variables */
@import './theme/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@media (min-width: 768px) {
  ion-modal {
    --border-radius: 23px !important;
  }
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: auto;
  background: var(
    --ion-toolbar-background,
    var(--ion-background-color, #000000)
  ) !important;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}

&::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0);
}

&::-webkit-scrollbar-track:hover {
    background: rgb(0, 0, 0, 0);
}

&::-webkit-scrollbar-thumb {
    background: #101010;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #facc15;
  }

  .inner-scroll {
    scrollbar-width: thin;
  }
}
